body {
    padding: 50px;
    background-color: #F1F6F4;
}

.header_image {
    background-image: url('/assets/images/blinkist_sprite.png');
    display: block;
    min-width: 6.5rem;
    width: 230px;
    height: 45px;
    background-position: 0 -609px;
    background-repeat: no-repeat;
}

#login {
    width: 19%;
    height: 100%;
    margin-top: 150px;
    color: #03314B;
    font-family: sans-serif, arial;
}

.login_form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.login_form input {
    margin-bottom: 10px;
    height: 30px;
    width: 200px;
    background-color: transparent;
    border: 1px solid #BAC8CE;
    border-radius: 3px;
}

.login_form input.submit_button {
    background-color: #2CE080;
    border: 1px solid #2CE080;
    color: #fff;
}

