<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//localhost:3000/assets/css/index.css"></style>
        <title>
            Blinkist Coding Challenge by Keith Thorne
        </title>
    </head>
    <body>
       <div class='header_image'></div>
       <div id="login">
            {% if chosenVariant == 'A' %}
                <h1 class='title'>Discover life-changing ideas</h1>
            {% else %}
                <h1 class='title'>Fit reading into your life</h1>
            {% endif %}
            <span>With short explainers, you can understand the key ideas from a book in just 15 minutes</span>
            <form class="login_form" action="/login" method="GET">
                <input name="email" type="text" placeholder="Enter email address"/>
                <input name="password" type="password" placeholder="Create password"/>
                <input class="submit_button" type="submit" value="Start free trial"/>
                <input name="variant" type="hidden" value="{{ chosenVariant }}"/>
            </form>
        </div>

    </body>
</html>