<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//localhost:3000/assets/css/index.css"></style>
        <title>
            Blinkist Coding Challenge by Keith Thorne
        </title>
    </head>
    <body>
       <div class='header_image'></div>
       <div id="login">
            <h1 class='title'>Discover life-changing ideas</h1>
            <span>With short explainers, you can understand the key ideas from a book in just 15 minutes</span>
            <form submit="/login">
                <input type="text" placeholder="Enter email address"/>
                <input type="password" placeholder="Create password"/>
                <input type="submit" value="Start free trial"/>
            </form>
        </div>

    </body>
</html>